In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [34]:
data=pd.read_csv('/users/nithyaprasath/downloads/github/fastapi-bank/BankNote_Authentication.csv')

In [35]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [36]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [37]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [38]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [39]:
data.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [42]:
model=RandomForestClassifier()
model.fit(x_train,y_train)

RandomForestClassifier()

In [43]:
y_pred=model.predict(x_test)

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9854368932038835

In [45]:
import pickle
pickle.dump(model,open("model.pkl",'wb'))

In [48]:
model.predict([[2,4,3,1]])

array([0])